@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@media screen and (min-width: 725px) {
  main {
    grid-template-columns: 2fr 3fr;
  }
  main > :nth-child(2n + 1) {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 724px) {
  main {
    grid-template-rows: 1fr 1fr;
  }
  h1 {
    font-size: 3vh;
  }
  header > h2 {
    font-size: 2vh;
  }
  main > :nth-child(2n + 1) {
    margin: 2vh 2vw 0;
  }
}

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("assets/wet-monstera-deliciosa-plant-leaves-garden.jpg");
  background-repeat: no-repeat;
}

main {
  display: grid;
  grid-column-gap: 2vw;
  grid-row-gap: 4vh;
}

main > * {
  padding: 2vh 4vw;
  margin-top: 2vh;
}

main > :nth-child(2n + 1) {
  background-image: url("assets/morocco.png");
  background-blend-mode: saturation;
  background-repeat: repeat;
  border: 1px solid gray;
  height: fit-content;
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.list {
  margin-top: 2vh;
  background-color: #173f5f;
  color: #f6d55c;
  padding: 2vh 1vw;
}
/* Стилі для таблиці */
#numberTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2vh;
}

#numberTable td {
  border: 1px solid #dddddd;
  padding: 10px;
  text-align: center;
}

#numberTable tr:hover {
  background-color: #f5f5f5;
}
#updateTableButton,
#highlightMaxButton {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #4caf50;
  background-color: #4caf50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#highlightMaxButton {
  border: 2px solid #f44336;
  background-color: #f44336;
}

#updateTableButton:hover,
#highlightMaxButton:hover {
  background-color: white;
  color: #4caf50;
}
